// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrapper{
	margin: 0;
	padding: 0;
}

.slider{
    height: 450px;
    width: 100%;
	}
.slider li{
	list-style-type: none;
	position: absolute;
	}

.slider input {
    display: none;
}
.slider label {
    background-color: #888888;
    bottom: -25px;
    cursor: pointer;
    display: block;
    border-radius: 100%;
    /*border: 2px solid black;*/
    height: 12px;
    position: absolute;
    width: 12px;
    z-index: 10;
}

.slider input:checked + label {
    background-color: black;
}

.slider img {
    height: 450px;
    margin-left: 20px;
    margin-right: 25px;
    border: 2px solid #888888;
    opacity: 0;
    transition: .25s;
    vertical-align: top;
    visibility: hidden;
}
.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.imgthumb {
	display: inline;
	float: left;
	width: 200px;
	height: 150px;
	margin: 10px;
	}
.imgthumb img {
	display: block;
	margin-left:auto;
	margin-right: auto;
	}
.imgthumb p{
	text-align: center;
	}
#imgwrapper {
	display: block;
	width: 100%;
	}
